<div class="card mat-card">            
    <h2>Acerca de</h2>
    <div class="btn-edit" onclick="cambiar_parrafo()">
        <a href="#" class="btn-right"> 
            <i class="fa fa-pen"></i>
        </a>
        <p id="text-acercade">Me encuentro capacitandome como
            Desarrolladora Full Stack, y aprendiendo nuevas
            tecnologías continuamente. Me encanta
            aprender cosas nuevas día a día en un lugar que
            siempre me apasiono como es el de la
            tecnología. Mas de 12 años de experiencia
            laboral en relación de dependencia me
            enseñaron a ser organizada, metódica y
            proactiva.</p>
    </div>    
    <div>
        <input id="edit-acercade" type="text" oninput="myFunction2(this.value)" style="display:none">
    </div>            
</div>  