<div class="card mat-card">
    <h2>Educacion</h2>
    <ul id="info-edu">
        <div class="btn-edit"><a href="#" class="btn-right"> <i class="fa fa-pen"></i></a>
        </div>  
        <div class="row">                                                
            <li>
                <a href="#">    
                <div class="col-md-6">
                    <img src="https://www.ies21.edu.ar/img/logo-ies-chico.png" alt="ies" width="100px">
                    <p>Carrera de Diseño Gráfico, cursado desde 03/2010 al 06/2012, con 22 materias aprobadas, y 28 materias cursadas</p>                               
                </div></a>
            
            </li>
            <li>
                <a href="#"> 
                <div class="col-md-6">
                <img src="https://www.ucc.edu.ar/portal2015/UniversidadCatolica/images/logo-ucc-2018.svg" alt="ucc" width="170px">
                <p>Carrera de Administración de Empresas, cursado desde el 03/2001 al 11/2004, con 13 materias aprobadas</p>
                </div></a>
                                        
           
            </li>                        
        </div>
    </ul>
</div>