.mat-card{
    border-radius: 30px;
    margin: 10px 10px;
    padding: 20px;
    border-color: var(--primario);
    background-color: var(--grisclaro);
}
h2{
    font-family: var(--fuenteSecundaria), cursive;
    font-size: 60px;
    display: inline-block;
    position: relative;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 30px;    
    color: var(--primario)
}
h3{
    color: var(--grisoscuro)
    
}

p{
    font-size: 25px;
    color: var(--grisoscuro)
}