<div class="card mat-card">                    
    <h2>Experiencia</h2>
    <div class="btn-edit" onclick="cambiar_parrafo()">
        <a href="#" class="btn-right"> 
            <i class="fa fa-pen"></i>
        </a>
    </div>
    <div>
        <input id="edit-exp1" type="text" oninput="myFunction3(this.value)" style="display:none">
    </div>
     <ul id="info-details text-exp1">                                                
    <div class="row"> 
        <div class="col-md-4"><h3>Escribania Trento</h3>
        <p>Desde 03/2017 hasta el presente, realizando tareas de secretariado notarial, manejo de cuentas corrientes, caja y pagos</p>
        
        
        </div>
        <div class="col-md-4"><h3>Escribania Maluf</h3>
        <p>Desde 03/2008 hasta el 10/2015, realizando tareas de secretariado notarial, manejo de cuentas corrientes, caja y pagos</p>
        
        </div>
        <div class="col-md-4"><h3>Ski Butternut</h3>
        <p>Desde 12/2004 hasta el 03/2005, pasantía realizada en Great Barrington, Massachusetts, EEUU, por medio del programa Work&Travel</p>
        </div>
    
    </div>
</ul>

</div>                    
