:root{
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #5f0a26;
    --rosa: #cc3668;
    --secundario: #f3dc74;
    --gris: #757575;
    --grisclaro: #dfe9f3;
    --fuentePrincipal: "Montserrat";
    --fuenteSecundaria: "Square Peg";

}

body{
    background-color: var(--grisclaro); 
    font-family: var(--fuentePrincipal);
}

.card{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
}
.mat-card{
    border-radius: 50%;
    margin: 10px 10px;
    padding: 20px;
    border-color: var(--primario);
    background-color: var(--grisclaro);
}
  
   
h2{
    font-family: var(--fuenteSecundaria), cursive;
    font-size: 60px;
    display: inline-block;
    position: relative;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 30px;    
    color: var(--primario)
}
.profile-img{
    float: left;
    width: 152px;
    height: 152px;    
    border-radius: 50%;
    margin-top: -110px;    
    z-index: 1; 
}

.btn-edit{
    align-items: flex-end;
}
.mat-card#first-card{
    padding: 0;
}

div#profile-background{
    display: flex;
    z-index: 1;

}

div#profile-background img{
    width: 100%;
    height: 300px;
    border-radius: 32px 32px 0 0;
} 

#info-img{
    display: flex;    
    float: left;   
}

#info-data{
    margin-top: 50px;
}
.navbar-brand{
    display: flex;
    justify-content: space-between;
    width: 100px;
}
.grafico-barras{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 80%; 
    margin-bottom: 20px;   
}

.graficos{
    padding: 100px;
}

.grafi{
    padding: 30px;
}


.footer {
    text-align: center;
}